.header {
    background-color: #FFFFFF; /* Your header's background color */
    padding: 2rem 0;
    position: relative;
    border-top: 21px solid black;
    /* Clip-path for the curved bottom at both sides */
    /* clip-path: circle(0 0, 
                       100% 0, 
                       100% 85%, 
                       95% 100%, 
                       5% 100%,
                       0 85%); */
}

